// Footer
footer.page-footer.font-small.black.pt-4
	.container-fluid.text-center.text-md-left
		.row
			.col-md-6.mt-md-0.mt-3
				h5.text-uppercase Contact us 
				p Store I: 445 Sư Vạn Hạnh, P.12, Q.10.
				p Store II: 48 Trần Quang Diệu, P.4, Q.3.
				p Store III: 350 Điện Biên Phủ, P.17, Q. Bình Thạnh.
				p Store IV: 463 Quang Trung, P.10, Q. Gò Vấp.
				p Store V: TNP - 26 Lý Tự Trọng, P. Bến Nghé, Q.1.
			hr.clearfix.w-100.d-md-none.pb-3
			.col-md-3.mb-md-0.mb-3
				h5.text-uppercase Guide
				ul.list-unstyled
					li
						a(href='#!',class="mt-5") Rules
					li
						a(href='#!',class="mt-5") Shopping guide
					li
						a(href='#!',class="my-5") Return policy
			.col-md-3.mb-md-0.mb-3
				h5.text-uppercase FOLLOW US
				ul.list-unstyled
					li
						a(href='#!')
							i(class="fa fa-facebook-f")
						a(href="#")
							i(class="fa fa-instagram")
				
	.footer-copyright.text-center.py-3
		| &copy; 2020 Copyright:
		a(href='https://facebook.com/namisan2304')  Namisan
