.topbar
	.container-fluid.bg-dark.text-white.pl-5.justify-center
		.row
			.col-md-8
				p Hotline: 0933.782.768
			.col-md-4.d-flex.justify-content-around.text-white
				a(href="#",class="text-white") Signin
				a(href="#",class="text-white") Signup
				a(href="#",class="text-white") Contact
.brand
	.container-fluid.d-flex.justify-content-center
		img(src="https://bizweb.dktcdn.net/100/318/614/themes/667160/assets/logo.png?1597482328930", alt="")				
.navbar 
	ul(class="navbar-list-item")
		li(class="navbar-item")
			a(href="#",class="navbar-item-link") Home
		li(class="navbar-item") 
			a(href="#",class="navbar-item-link") All Item
		li(class="navbar-item") 
			a(href="#",class="navbar-item-link") Contact

