<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
		link(rel="stylesheet", href="css/styles.css")
		link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		block css

	body
		include ../includes/header

		.page-content
			.row
				include ../includes/navbar
				.col-md-10
					block content
					
		include ../includes/footer
		block js

		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='https://code.jquery.com/jquery.js')
		// Include all compiled plugins (below), or include individual files as needed
		script(src='bootstrap/js/bootstrap.min.js')
		script(src='js/custom.js')


