extends ../layouts/app.home

block content 
	main
		.container
			.row
				each product in products
					.col-md-3
						.card
							img(class="card-img-top" src=`${product.imgUrl}`)
							.card-body
								.card-title= product.name
								.card-text= product.title 
								.card-btn 
									button(class="btn btn-secondary") Option
									button(class="btn btn-muted") Qick view

			.btn-all-product				
				a(href="#",class="btn btn-danger") See all